
<%= f.error_notification %>

<div class="form-inputs">
    <div class="col s12 m4">
        <div class="input-field">
            <%= f.input :name %>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="input-field">
            <%= f.input :search_term %>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="input-field">
            <%= f.input :price %>
        </div>
    </div>
    
    <div class="col s12 m12">
        <div class="input-field">
            <%= f.input :products_list %>
        </div>
    </div>
</div>

<div class="form-actions">
    <%= f.button :submit %>
</div>