<%= simple_form_for [current_team, @category], url: team_category_path(@category)  do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
    <div class="col s12 m4">
        <div class="input-field">
            <%= f.input :name %>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="input-field">
            <%= f.input :search_term %>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="input-field">
            <%= f.input :price %>
        </div>
    </div>
</div>

<div class="form-actions">
    <%= f.button :submit %>
</div>
<% end %>